.bgc{
    background-color: #cdd4f7;
    height: 100vh;
    background: url(https://wx-xly-1301545895.cos.ap-beijing.myqcloud.com/my-website/end/1577423270898.gif) no-repeat fixed;
    background-size:100% 100%;
}
